@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #f7d6d0;
	background-color: #30bd8e;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	text-align: center;
}

/* h1,
h2,
h3 {
	font-size: 4vh;
}

.title {
	position: fixed;
	line-height: 0;
	color: #e6e6e6;
	font-size: 4vh;
	text-transform: uppercase;
}

.topNav {
	background: rgba(18, 79, 82, 0.884);
	display: flex !important;
	align-items: center;
	column-gap: 12px;
	height: 56px;
	width: 100%;
	padding: 12px;
	z-index: 2000;
}

.logo {
	-webkit-box-flex: 1 !important;
	flex-grow: 1 !important;
	flex-shrink: 2 !important;
	width: 30% !important;
	text-decoration: none;
	border-radius: 10px;
}

.mainLogo {
	width: 30% !important;
	text-decoration: none;
	border-radius: 2vh;
	margin-bottom: 10vh;
}

.login-btn {
	text-transform: uppercase;
	position: relative;
	background: transparent;
	border: transparent;
	cursor: pointer;
} */

/* Menu links */

/* @media (max-width: 767px) {
	.burger-nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 30%;
		min-height: 100vh;
		z-index: 98;
		background-color: antiquewhite;
		padding-top: 100px;
		list-style-type: none;
	}

	.burger-nav a {
		display: block;
		text-align: center;
		padding: 12px 16px;
		transition: all 0.3s ease 0s;
		font-weight: 500;
		font-size: 3.5vh;
	}

	.burger-nav > li > a:hover {
		color: black;
	}

	.burger-nav > li > a:link {
		text-decoration: none;
	}

	.burgerMenu {
		margin-right: 20px;
	}
}

.carrosDisponiveis {
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	align-content: center;
	padding: 50px;
}

.carImg {
	width: 200px;
	border-radius: 5px;
}

.carro {
	margin-bottom: 10vh;
	text-align: center;
} */

/* CRUD */
/* .mainCRUD {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #212121;
	color: whitesmoke;
}

.mainCRUD-header {
	font-family: 'Montserrat', sans-serif;
}

.create-form label {
	color: whitesmoke !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px !important;
}

.escolhasUser {
	background: #17b882;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 10vh;
	width: 50%;
	margin: auto;
}

.MuiInputBase-root {
	background-color: whitesmoke;
} */
